@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --clr-primary: #ed6950;
    --clr-secondary: #ffc74a;
    --clr-secondary-shadow: #b98000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1.8rem;
}

ul {
    list-style: none;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

header {
    background-color: #343434;
    background-image: url('/assets/img/bg.png');
    height: 120vh;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.btn {
    padding: 2rem 3.5rem;
    background-color: var(--clr-secondary);
    border-radius: 10em;
    color: var(--clr-secondary-shadow);
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: color ease-in 200ms, background-color ease-in 200ms;
}

.btn:hover {
    background-color: var(--clr-secondary-shadow);
    color: var(--clr-secondary);
}

/* Navbar */

.nav {
    padding: 4rem 3rem 0 3rem;

    display: flex;
    justify-content: space-between;

    color: white;
    font-size: 1.8rem;
}

.nav__logo,
.nav__list {
    display: flex;
    align-items: center;
}

.nav__logo {
    gap: 2rem;
    cursor: pointer;
}

.nav__logo > span {
    font-weight: bold;
    transition: color ease-out 200ms;
}

.nav__logo > span:hover {
    color: var(--clr-primary);
}

.nav__list {
    gap: 5rem;
}

.nav__link {
    cursor: pointer;
    transition: color ease-out 200ms;
}

.nav__link:hover {
    color: var(--clr-secondary);
}

.nav__search {
    position: relative;
    color: var(--clr-secondary);
    transition: color ease-out 200ms;
}

.nav__search:hover {
    color: var(--clr-secondary-shadow);
}

/* End Navbar */

/* Hero */

.hero {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__title {
    width: 60rem;
    margin-top: 12rem;
    font-size: 9.2rem;
    font-weight: bold;
    text-align: center;
}

.hero__title > span {
    color: var(--clr-primary);
}

.hero__subtitle {
    opacity: 0.4;
}

.hero__btn {
    margin-top: 5.5rem;
}

.hero__footer {
    margin-top: 12rem;
}

/* End Hero */
