@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --clr-primary: #ed6950;
    --clr-secondary: #ffc74a;
    --clr-shade: #bdc8d9;
    --clr-secondary-shadow: #b98000;

    --clr-text-primary: #606f81;
    --clr-text-secondary: #9fa8b2;

    --box-shadow: 0 0 85px rgba(141, 148, 169, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

h1 {
    font-size: 9.2rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.4rem;
}

h6 {
    font-size: 1.8rem;
    font-weight: normal;
}

p {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input[type='radio'] {
    position: absolute;
    left: -999;
    opacity: 0;
}

input[type='radio']:checked ~ .btn--secondary {
    background-color: var(--clr-secondary);
}

input[type='radio']:checked ~ .btn--outline {
    background-color: var(--clr-shade);
}

header {
    background-color: #343434;
    background-image: url('/assets/img/bg.png');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.btn {
    display: inline-block;
    padding: 2rem 3.5rem;
    border-radius: 10em;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in 200ms;
}

.btn--primary {
    background-color: var(--clr-secondary);
    color: var(--clr-secondary-shadow);
}

.btn--primary:hover {
    background-color: var(--clr-secondary-shadow);
    color: var(--clr-secondary);
}

.btn--secondary {
    background-color: var(--clr-shade);
    color: white;
}

.btn--secondary:hover {
    background-color: var(--clr-secondary);
}

.btn--outline {
    color: var(--clr-text-primary);
    border: 1px solid var(--clr-shade);
}

.btn--outline:hover {
    color: white;
    background-color: var(--clr-shade);
}

.btn--transparent {
    color: var(--clr-text-primary);
    box-shadow: 0 0 54px rgba(141, 148, 169, 0.25);
}

.btn--transparent:hover {
    color: var(--clr-secondary-shadow);
    background-color: var(--clr-secondary);
}

.btn--small {
    text-transform: none;
    padding: 1rem 1.5rem;
}

.text-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--clr-shade);
    opacity: 0.1;
    padding: 6rem 0;
    overflow-x: hidden;
    z-index: -1;
}

.text-bg > span {
    display: block;
    text-align: right;
    line-height: 0.75;
    margin-right: -3rem;
    font-size: 35rem;
    font-weight: 700;
    text-transform: uppercase;

    color: white;
    text-shadow: 0 0 125px rgba(15, 19, 31, 0.25);
}

/* Navbar */

.nav {
    padding: 4rem 3rem 0 3rem;

    display: flex;
    justify-content: space-between;

    color: white;
    font-size: 1.8rem;
}

.nav__mobile {
    display: none;
}

.nav__logo,
.nav__list {
    display: flex;
    align-items: center;
}

.nav__logo {
    gap: 2rem;
    color: white;
}

.nav__logo > span {
    font-weight: bold;
    transition: color ease-out 200ms;
}

.nav__logo > span:hover {
    color: var(--clr-primary);
}

.nav__list {
    gap: 5rem;
}

.nav__link > a {
    color: white;
    transition: color ease-out 200ms;
}

.nav__link > a:hover {
    color: var(--clr-secondary);
}

.nav__search {
    position: relative;
    color: var(--clr-secondary);
    transition: color ease-out 200ms;
}

.nav__search:hover {
    color: var(--clr-secondary-shadow);
}

/* End Navbar */

/* Hero */

.hero {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero__title {
    width: 60rem;
    margin-top: 25.6rem;
    font-weight: bold;
    text-align: center;
}

.hero__title > span {
    color: var(--clr-primary);
}

.hero__subtitle {
    opacity: 0.4;
}

.hero__btn {
    margin-top: 5.5rem;
}

.hero__footer {
    margin-top: 27rem;
    margin-bottom: 26rem;
}

/* End Hero */

/* Features Section */

.features__container {
    position: relative;
    width: 100%;
    padding-bottom: 27.8rem;
}

.features__list {
    position: absolute;
    top: -21.6rem;
    left: 0;
    width: 100%;
    height: 43.3rem;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.feature {
    position: relative;
}

.feature__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature__info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
}

.feature__name {
    position: absolute;
    bottom: 7em;
    left: 50%;
    transform: translate(-50%, 50%);
    transition: bottom ease-out 250ms;
}

.feature__name > h3 {
    transition: font-size ease-out 250ms;
}

.feature__name > p {
    color: var(--clr-secondary);
}

.feature__btn {
    font-size: 1.4rem;
    padding: 1em 0;

    position: absolute;
    left: 50%;
    bottom: 3em;
    width: 55%;
    transform: translateX(-50%);
    opacity: 0;
}

.feature:hover .feature__name {
    bottom: 50%;
}

.feature:hover .feature__name h3 {
    font-size: 4.2rem;
}

.feature:hover .feature__btn {
    opacity: 1;
}

/* End Features Section */

/* Search Section */

.search__title {
    text-align: center;
    margin-bottom: 5.5rem;
}

.search__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 80rem;
}

.search__bar {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
}

.search__input {
    width: 100%;
    padding: 2rem 3rem;
    font-size: 1.8rem;
    color: var(--clr-text-primary);
    outline: none;
    border: none;
    border-radius: 10rem;
    box-shadow: var(--box-shadow);
    transition: box-shadow ease-in 250ms;
}

.search__input::placeholder {
    color: var(--clr-text-secondary);
}

.search__input:hover {
    box-shadow: 0 0 85px rgba(141, 148, 169, 0.3);
}

.search__input:focus {
    outline: 2px solid var(--clr-secondary);
}

.search__submit {
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translateY(-50%);

    font-size: 1.8rem;
    color: var(--clr-secondary);

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;
}

.search__submit::before {
    content: '';
    position: absolute;
    top: 50%;
    right: -1.5rem;
    transform: translateY(-50%);

    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    background-color: currentColor;
    opacity: 0;
    transition: opacity ease-in 200ms;
}

.search__submit:hover::before {
    opacity: 0.15;
}

.search__categories {
    font-size: 1.4rem;
    display: flex;
    margin-bottom: 3rem;
}

.search__categories-left,
.search__categories-right {
    display: flex;
    gap: 1rem;
}

.search__categories-left {
    margin-right: auto;
}

.search__result {
    max-width: 120rem;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
}

.search__result-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(37rem, 1fr));
    column-gap: 1.5rem;
    row-gap: 3rem;
}

.search__result-item {
    width: 100%;
    padding: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search__result-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search__result-item > h3 {
    margin-top: 3rem;
    color: var(--clr-text-primary);
}

.search__result-item > p {
    margin-bottom: 3rem;
    color: var(--clr-text-secondary);
}

.search__result-item > a {
    padding: 1.5rem 3rem;
    margin-bottom: 2rem;
}

/* End Search Section */

/* Explore Section */

.explore {
    position: relative;
    max-height: 90rem;
}

.explore__title {
    padding-top: 7rem;
    text-align: center;
    margin-bottom: 7rem;
    color: var(--clr-text-primary);
}

.explore__content {
    display: flex;
    gap: 3rem;
}

.explore__text {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 14rem;
}

.explore__text h3 {
    font-size: 3.6rem;
    color: var(--clr-secondary);
    margin-bottom: 5rem;
}

.explore__text p {
    line-height: 2;
    color: var(--clr-text-secondary);
}

.explore__text p:first-of-type {
    margin-bottom: 4rem;
}

.explore__text a {
    padding: 1.5rem 3rem;
    margin-top: 6rem;
}

.explore__img {
    position: relative;
    width: 100%;
    height: 555px;
}

.explore__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.explore__img::before {
    content: '';
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 100%;
    height: 100%;

    border: 2rem solid var(--clr-secondary);
    z-index: -1;
}

/* End Explore Section */

/* Sign up Section */

.signup {
    width: 100%;
    max-height: 64rem;
    background-image: url('/assets/img/bg_signup.png');
    background-size: cover;
    color: white;
    padding: 20rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup > a {
    padding: 1.5rem 3rem;
    margin: 5rem 0;
}

.signup > p {
    font-size: 1.8rem;
}

.signup__link {
    color: var(--clr-secondary);
    text-decoration: underline;
}

.signup__link:hover {
    color: var(--clr-secondary-shadow);
}

/* End Sign up Section */

/* Footer */

footer {
    position: relative;
    max-height: 50rem;
    padding-top: 17rem;
    padding-bottom: 23rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    color: var(--clr-text-primary);
}

footer > .text-bg {
    align-items: center;
}

/* End Footer */

/* Media Query */

@media screen and (max-width: 1290px) {
    h1 {
        font-size: 8.8rem;
    }

    h3 {
        font-size: 2.6rem;
    }

    .container {
        padding: 0 3rem;
    }

    .hero__title {
        margin-top: 15rem;
    }

    .hero__footer {
        margin-top: 17rem;
    }

    .features__container {
        padding-bottom: 20rem;
    }

    .features__list {
        top: -15rem;
        height: 30rem;
        gap: 1em;
    }

    .feature:hover .feature__name h3 {
        font-size: 3rem;
    }

    .feature__btn {
        width: 70%;
    }

    .explore__img {
        width: 100%;
    }

    .explore__img::before {
        top: 1rem;
        left: 1rem;
        border: 1rem solid var(--clr-secondary);
    }
}

@media screen and (max-width: 920px) {
    h3 {
        font-size: 3.2rem;
    }

    .text-bg span {
        font-size: 24rem;
        line-height: 1;
    }

    .features__container {
        padding-bottom: 25rem;
    }

    .feature:first-child,
    .feature:last-child {
        display: none;
    }

    .features__list {
        top: -19rem;
        height: 38rem;
        gap: 2em;
    }

    .feature:hover .feature__name h3 {
        font-size: 4.2rem;
    }

    .explore__title {
        padding-top: 3rem;
        margin-bottom: 3rem;
    }

    .explore__content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .explore__img {
        width: 70%;
        height: 30rem;
    }

    .explore__img img {
        object-position: top;
    }

    .explore__text {
        margin-top: 3rem;
        max-width: 75rem;
    }

    .explore__text h3 {
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .explore__text p:first-of-type {
        margin-bottom: 2rem;
    }

    .explore__text a {
        display: block;
        width: 17.5rem;
        margin: 3.5rem auto 0 auto;
    }

    .signup h1 {
        font-size: 7.8rem;
    }
}

@media screen and (max-width: 660px) {
    h1 {
        font-size: 7.4rem;
    }

    h3 {
        font-size: 2.6rem;
    }

    .container {
        max-width: 500px;
        padding: 0 1.5rem;
    }

    .nav {
        align-items: center;
    }

    .nav__list {
        display: none;
    }

    .nav__mobile {
        display: flex;
    }

    .hero__title {
        width: 100%;
    }

    .features__container {
        padding-bottom: 18rem;
    }

    .features__list {
        top: -15rem;
        height: 30rem;
        gap: 1em;
    }

    .feature:hover .feature__name h3 {
        font-size: 3rem;
    }

    .search__categories {
        font-size: 1rem;
        gap: 1em;
    }

    .search__categories-left li:last-child,
    .search__categories-right li:last-child {
        display: none;
    }

    .explore__text {
        margin-top: 5rem;
    }

    .explore__text p {
        font-size: 1.6rem;
    }

    .explore__text p:last-of-type {
        display: none;
    }

    .signup h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 470px) {
    h1 {
        font-size: 5.2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h4 {
        font-size: 2rem;
    }

    h6 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.2rem;
    }

    .hero__title {
        width: 80%;
    }

    .hero__btn {
        margin-top: 7em;
    }

    .search__result-list {
        display: flex;
        flex-direction: column;
    }

    .search__categories {
        flex-direction: column;
        font-size: 1rem;
        gap: 1em;
    }

    .search__result-item {
        flex-shrink: 1;
    }

    .features__container {
        padding-bottom: 18rem;
    }

    .features__list {
        top: -12rem;
        height: 24rem;
        gap: 0;
    }

    .feature:hover .feature__name h3 {
        font-size: 1.8rem;
    }

    .feature__btn {
        font-size: 1rem;
        width: 80%;
    }

    .explore__img {
        width: 80%;
        height: 28rem;
    }

    .explore__text {
        margin-top: 3rem;
    }

    .signup h1 {
        text-align: center;
    }
}
/* End Media Query */
